arrow==0.12.1
certifi==2018.1.18
dateparser==0.7.0
Django==1.11.11
django-bootstrap-form==3.4
Faker==0.8.12
html5lib==1.0b10
httplib2==0.11.3
Pillow==5.1.0
PyPDF2==1.26.0
python-dateutil==2.7.2
pytz==2018.3
regex==2018.2.21
reportlab==3.4.0
six==1.11.0
text-unidecode==1.2
times==0.7
tzlocal==1.5.1
webencodings==0.5.1
xhtml2pdf==0.2.1
